* {
    background-image: none;
    font-size: ${FONT_SIZE}px;
}

@import "$HOME/.cache/colors/wlogout.css";


window {
    background-color: alpha(mix(@background, mix(@color1, @color4, 0.5), 0.3), 0.6);
}

button {
    color: ${BUTTON_COLOR};
    background-color: @color1;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
}

button:focus {
    background-color: @color2;
}

button:focus, button:hover {
    animation-name: breathing;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes breathing {
    0% {
        background-size: 20%;
    }

    25% {
        background-size: 25%;
    }

    50% {
        background-size: 30%;
    }

    75% {
        background-size: 25%;
    }

    100% {
        background-size: 20%;
    }
}

button:hover {
    background-color: @color3;
    border-radius: ${ACTIVE_RADIUS}px;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: ${ACTIVE_RADIUS}px ${ACTIVE_RADIUS}px 0px ${ACTIVE_RADIUS}px;
    margin : ${Y_SCALE_MARGIN}px 0px 0px ${X_SCALE_MARGIN}px;
}

button:hover#logout {
    border-radius: ${ACTIVE_RADIUS}px 0px ${ACTIVE_RADIUS}px ${ACTIVE_RADIUS}px;
    margin : 0px 0px ${Y_SCALE_MARGIN}px ${X_SCALE_MARGIN}px;
}

button:hover#shutdown {
    border-radius: ${ACTIVE_RADIUS}px ${ACTIVE_RADIUS}px ${ACTIVE_RADIUS}px 0px;
    margin : ${Y_SCALE_MARGIN}px ${X_SCALE_MARGIN}px 0px 0px;
}

button:hover#reboot {
    border-radius: 0px ${ACTIVE_RADIUS}px ${ACTIVE_RADIUS}px ${ACTIVE_RADIUS}px;
    margin : 0px ${X_SCALE_MARGIN}px ${Y_SCALE_MARGIN}px 0px;
}

#lock {
    background-image: image(url("${LOCK_IMAGE_FILEPATH}"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: ${BUTTON_RADIUS}px 0px 0px 0px;
    margin : ${Y_MARGIN}px 0px 0px ${X_MARGIN}px;
}

#logout {
    background-image: image(url("${LOGOUT_IMAGE_FILEPATH}"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 0px ${BUTTON_RADIUS}px;
    margin : 0px 0px ${Y_MARGIN}px ${X_MARGIN}px;
}

#shutdown {
    background-image: image(url("${SHUTDOWN_IMAGE_FILEPATH}"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px ${BUTTON_RADIUS}px 0px 0px;
    margin : ${Y_MARGIN}px ${X_MARGIN}px 0px 0px;
}

#reboot {
    background-image: image(url("${REBOOT_IMAGE_FILEPATH}"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-radius: 0px 0px ${BUTTON_RADIUS}px 0px;
    margin : 0px ${X_MARGIN}px ${Y_MARGIN}px 0px;
}
