* {
    background-image: none;
    font-size: ${font_size}px;
}

@import "$HOME/.cache/wal/colors-wlogout.css";


window {
    background-color: alpha(mix(@background, mix(@color1, @color4, 0.5), 0.3), 0.6);
}

button {
    color: ${button_color};
    background-color: @color1;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
}

button:focus {
    background-color: @color2;
}

button:focus, button:hover {
    animation-name: breathing;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes breathing {
    0% {
        background-size: 20%;
    }

    25% {
        background-size: 25%;
    }

    50% {
        background-size: 30%;
    }

    75% {
        background-size: 25%;
    }

    100% {
        background-size: 20%;
    }
}

button:hover {
    background-color: @color3;
    border-radius: ${active_radius}px;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: ${active_radius}px ${active_radius}px 0px ${active_radius}px;
    margin : ${y_scale_margin}px 0px 0px ${x_scale_margin}px;
}

button:hover#logout {
    border-radius: ${active_radius}px 0px ${active_radius}px ${active_radius}px;
    margin : 0px 0px ${y_scale_margin}px ${x_scale_margin}px;
}

button:hover#shutdown {
    border-radius: ${active_radius}px ${active_radius}px ${active_radius}px 0px;
    margin : ${y_scale_margin}px ${x_scale_margin}px 0px 0px;
}

button:hover#reboot {
    border-radius: 0px ${active_radius}px ${active_radius}px ${active_radius}px;
    margin : 0px ${x_scale_margin}px ${y_scale_margin}px 0px;
}

#lock {
    background-image: image(url("${lock_image_filepath}"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: ${button_radius}px 0px 0px 0px;
    margin : ${y_margin}px 0px 0px ${x_margin}px;
}

#logout {
    background-image: image(url("${logout_image_filepath}"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 0px ${button_radius}px;
    margin : 0px 0px ${y_margin}px ${x_margin}px;
}

#shutdown {
    background-image: image(url("${shutdown_image_filepath}"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px ${button_radius}px 0px 0px;
    margin : ${y_margin}px ${x_margin}px 0px 0px;
}

#reboot {
    background-image: image(url("${reboot_image_filepath}"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-radius: 0px 0px ${button_radius}px 0px;
    margin : 0px ${x_margin}px ${y_margin}px 0px;
}
